## <span style="color:brown"><strong> Transform Data </strong></span>

In [2]:
# Import necessary modules
import pandas as pd

### <strong> UTILITIES </strong>

In [ ]:
# Remove duplicates from the DataFrame
def fn_remove_duplicates(df):
    '''
    Remove duplicate rows from dataframe based on 'id' column. Keep the first occurrence.
    '''
    return df.drop_duplicates(subet=['id'], keep='firs')

In [ ]:
# Remove invalid rows from the DataFrame
def fn_remove_invalid_rows(df):
    '''
    Remove rows where the 'id' is NaN, as these IDs were identified as non-numeric.
    '''
    df.dropna(subset='id')

In [3]:
# Extract Year, Month, Day, and Time columns.
def fn_split_datetime(df):
    '''
    Split the date_time column into separate year, month, day, and time columns.
    '''
    # convert to datetime
    df['date_time'] = pd.to_datetime(df['date_time'])

    # Extract yes, month, day, and time 
    df['year'] = df['date_time'].dt.year
    df['month'] = df['date_time'].dt.month
    df['day'] = df['date_time'].dt.day
    df['hour'] = df['date_time'].dt.hour
    df['minute'] = df['date_time'].dt.minute
    df['second'] = df['date_time'].dt.second
    
    return df

In [ ]:
def fn_transform_data(df):
    '''
    Apply the following transformations to the passed in dataframe:
    - deduplicate records (keep the first)
    - remove invalid rows
    - split datetime into year, month, day, and time columns
    '''
    # 
    df = fn_remove_duplicates(df)
    #
    df = fn_remove_invalid_rows(df)
    #
    df = fn_split_datetime(df)

    return df